<!DOCTYPE html>
<html>
    <head>
        <title>Device Manager</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8" />
        <link rel="stylesheet" href="css/sdms.css" />
        <link rel="stylesheet" href="css/jquery.mobile.structure-1.1.0-rc.1.min.css" />
        <link rel="stylesheet" href="css/jquery.mobile.datebox-1.0.1.min.css" />
    </head>
    <body>
        <!--Icanhaz.js templates-->
        <script id="device" type="text/html">
        <li data-theme="{{ theme }}">
        	<a href="{{ rel }}" data-id="{{ nid }}" data-name="{{ title }}" data-transition="slide" class="check-in-link ui-link-inherit">
        	    <img src="http://sdms.sapienttoronto.com/cms/{{ field_sm_thumb.0.filepath }}" />
        	    <h3 class="ui-li-heading">{{ title }}</h3>
        	    <p class="ui-li-desc"><span>Availability</span> - <strong>{{ field_state.0.value }}</strong></p>
        	    <p class="ui-li-desc">Device home city - {{ field_home_city.0.value }}</p>
        	</a>
        </li>
        </script>
        <script id="borrower" type="text/html">
        <li>
        	<a href="#checkout" data-id="{{ nid }}" data-name="{{ title }}"  data-transition="slide" class="ui-link-inherit">
        	    <img src="images/icn/icon-borrower-role-{{ field_role.0.value }}.png" class="ui-li-thumb" />
                <h3 class="ui-li-heading">{{ title }}</h3>
                <p class="ui-li-desc">{{ field_role.0.value }} @ {{ field_home_city.0.value }}</p>
        	</a>
        </li>
        </script>
        <div data-role="page" id="login" data-theme="a">
            <div data-role="content">
                <form id="login_form">
                    <fieldset data-role="fieldcontain" class="ui-hide-label">
                        <label for="username" class="ui-hidden-accessible">Username:</label>
                        <input type="text" name="username" id="username" value="" class="ui-input-text ui-corner-all ui-shadow-inset" placeholder="Username"/>
                    </fieldset>
                    <fieldset data-role="fieldcontain" class="ui-hide-label">
                        <label for="password" class="ui-hidden-accessible">Password:</label>
                        <input type="password" name="password" id="password" value="" class="ui-input-text ui-corner-all ui-shadow-inset" placeholder="Password"/>
                    </fieldset>
                    <fieldset data-role="fieldcontain">
                        <input type="image" data-role="none" src="images/btn/button-submit-default.png" />
                    </fieldset>
                </form>
            </div>
        </div>
        <div data-role="page" id="devices"  data-theme="a">         
            <div data-role="header" data-position="fixed">       
                <h1>Device List</h1>                     
            </div>         
            <div data-role="content">     
                <div id="device_list" data-role="content">
                </div>
            </div>
            <div data-role="footer" data-position="fixed"> 
                <div data-role="navbar">
                	<ul>
                		<li><a href="#devices" class="ui-btn-active btn_device_list" data-iconpos="top" data-icon="custom">Devices</a></li>
                		<li><a href="#" class="btn_qr_capture" data-iconpos="top" data-icon="custom">Scan</a></li>
                	</ul>
                </div>
            </div> 
        </div>
        <div data-role="page" id="borrowers" data-theme="a">
            <div data-role="header" data-position="fixed">      
                <a href="#devices" data-icon="back" data-direction="reverse">Back</a>
                <h1>Borrowers</h1>
                <a href="#addBorrower" data-icon="plus">Add</a>                   
            </div>         
            <div data-role="content">     
                <div id="borrower_list" data-role="content"></div>
            </div>
            <div data-role="footer" data-position="fixed"> 
                <div data-role="navbar">
                	<ul>
                		<li><a href="#devices" class="ui-btn-active btn_device_list" data-iconpos="top" data-icon="custom">Devices</a></li>
                		<li><a href="#" class="btn_qr_capture" data-iconpos="top" data-icon="custom">Scan</a></li>
                	</ul>
                </div>
            </div> 
        </div>
        <div data-role="page" id="checkout"  data-theme="a">         
            <div data-role="header" data-position="fixed"> 
                <a href="#borrowers" data-icon="back" data-direction="reverse">Back</a>      
                <h1>Checkout</h1>                  
            </div>            
            <div id="checkout_list" data-role="content">
                <ul data-role="listview">
                	
                </ul>
                <br />
                <div data-role="fieldcontain">
                	<label for="checkout_reason">Reason:</label>
                	<input type="text" name="checkout_reason" id="checkout_reason" value="" />
                </div>
                <div data-role="fieldcontain">
                	<label for="checkout_date">Checkout Date:</label>
                	<input type="date" data-role="datebox"
                	   data-options='{"mode": "calbox", "dateFormat": "dd.mm.YYYY"}' name="checkout_date" id="checkout_date" value="" />
                </div>
                <div data-role="fieldcontain">
                	<label for="checkout_return">Return Date:</label>
                	<input type="date" data-role="datebox"
                	   data-options='{"mode": "calbox", "afterToday": true, "dateFormat": "dd.mm.YYYY"}' name="checkout_return" id="checkout_return" value="" />
                </div>
                <div class="sdms_btns">
                    <a href="#" id="checkout_save" data-role="button" data-inline="true">Checkout</a>
                    <a href="#devices" data-role="button" data-inline="true">Cancel</a>
                </div>
            </div>            
            <div data-role="footer" data-position="fixed"> 
                <div data-role="navbar">
                	<ul>
                		<li><a href="#devices" class="ui-btn-active btn_device_list" data-iconpos="top" data-icon="custom">Devices</a></li>
                		<li><a href="#" class="btn_qr_capture" data-iconpos="top" data-icon="custom">Scan</a></li>
                	</ul>
                </div>
            </div> 
        </div>      
        <div data-role="page" id="check_in" data-theme="a">         
            <div data-role="header" data-position="fixed"> 
                <a href="#devices" data-icon="back" data-direction="reverse">Back</a>      
                <h1>Check-in</h1>                  
            </div>            
            <div id="check_in_list" data-role="content">
                <ul data-role="listview">
                	
                </ul>
                <br />
                <div data-role="fieldcontain">
                	<label for="check_in_reason">Reason:</label>
                	<input type="text" name="check_in_reason" id="check_in_reason" value="" />
                </div>
                <div class="sdms_btns">
                    <a href="#" id="check_in_save" data-role="button" data-inline="true">Check-in</a>
                    <a href="#devices" data-role="button" data-inline="true">Cancel</a>
                </div>
            </div>            
            <div data-role="footer" data-position="fixed"> 
                <div data-role="navbar">
                	<ul>
                		<li><a href="#devices" class="ui-btn-active btn_device_list" data-iconpos="top" data-icon="custom">Devices</a></li>
                		<li><a href="#" class="btn_qr_capture" data-iconpos="top" data-icon="custom">Scan</a></li>
                	</ul>
                </div>
            </div> 
        </div>             
        <div data-role="page" id="addBorrower" data-theme="a">         
            <div data-role="header" data-position="fixed">       
                <a href="#devices" data-icon="back" data-direction="reverse">Cancel</a>
                <h1>Add Borrower</h1> 
            </div>
            <div data-role="content">        
                <form id="add_borrower_form">
                    <fieldset data-role="fieldcontain" class="ui-hide-label">
                        <label for="borrower_name" class="ui-hidden-accessible">Name:</label>
                        <input type="text" name="borrower_name" id="borrower_name" value="" class="ui-input-text ui-corner-all ui-shadow-inset" placeholder="Name"/>
                    </fieldset>
                    <fieldset data-role="email" class="ui-hide-label">
                        <label for="borrower_email" class="ui-hidden-accessible">Email:</label>
                        <input type="text" name="borrower_email" id="borrower_email" value="" class="ui-input-text ui-corner-all ui-shadow-inset" placeholder="Sapient Email ID"/>
                    </fieldset>
                    <fieldset data-role="fieldcontain" class="ui-hide-label">
                        <label for="borrower_role" class="select">Role</label>
                        <select name="borrower_role" id="borrower_role" >
                           <option value="TECH">Technologist</option>
                           <option value="CREATE">Creative</option>
                           <option value="ACCT">Account</option>
                           <option value="EXEC">Executive</option>
                        </select>
                    </fieldset>
                    <fieldset data-role="fieldcontain" class="ui-hide-label">
                        <label for="borrower_office" class="select">Office</label>
                        <select name="borrower_office" id="borrower_office">
                           <option value="CHI">Chicago</option>
                           <option value="TOR">Toronto</option>
                        </select>
                    </fieldset>
                    
                    <fieldset data-role="fieldcontain">
                        <input type="image" data-role="none" src="images/btn/button-submit-default.png" />
                    </fieldset>
                </form>
            </div>
            <div data-role="footer" data-position="fixed"> 
                <div data-role="navbar">
                	<ul>
                		<li><a href="#devices" class="ui-btn-active btn_device_list" data-iconpos="top" data-icon="custom">Devices</a></li>
                		<li><a href="#" class="btn_qr_capture" data-iconpos="top" data-icon="custom">Scan</a></li>
                	</ul>
                </div>
            </div> 
        </div>

        <script type="text/javascript" charset="utf-8" src="js/cordova-1.5.0.js"></script>
        <script src="js/jquery.min.js"></script>
        <script src="js/jquery.mobile-1.1.0-rc.1.min.js"></script>
        <script src="js/icanhaz.min.js"></script>
        <script src="js/jquery.bbq.min.js"></script>
        <script src="js/jquery.cookie.js"></script>
        <script src="js/barcodescanner.js"></script>
        <script src="js/jquery.mobile.datebox.min.js"></script>
        <script src="js/application.js"></script>
    </body>
</html>
